name: Deploy to Hugging Face

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Push to Hugging Face
        uses: huggingface/huggingface-hub-action@master
        with:
          path: ./
          repo_id: xyanglu/resume-agent-chatbot
          token: ${{ secrets.HF_TOKEN }}